@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    background-color: #0d0d0d;
    color: #fff;
}
.header__section {
    align-content: center;
    align-items: center;
    display: flex;
    height: min-content;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    width: 100%;
}
.header-logo {
    padding: 12px 16px;
}
.header-logo:hover {
    background: #171717;
    border-radius: 16px;
}
.header-button {
    position: relative;
    width: 222px;
    background: #fff;
    border-radius: 16px;
    height: 63px;
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-button a.anchor-hd {
    text-decoration: none;
    color: #000;
    font-size: 27px;
    position: absolute;
    right: -29px;
}
.donload-ios-btn {
    display: flex;
    align-items: center;
}
span.ios-text {
    padding: 0px 20px;
    font-size: 18px;
    font-weight: bold;
}
/* span.right-arrow-icon {
    display: none;
}
.header-button:hover span.right-arrow-icon {
    display: inherit;
}
.header-button:hover span.apple-icon {
    display: none;
} */
.header-button:hover a.anchor-hd {
    left: -25px;
}
.main-section-parent {
    height: -webkit-min-content;
    height: min-content;
    margin: auto;
    max-width: 1080px;
    overflow: hidden;
    padding: 400px 0 80px;
    width: 80%;
}
h1 {
    font-size: 59px;
}
.img-uper-div {
    text-align: center;
}
img.main-onr-img {
    width: 52%;
    height: 100%;
}
.Action-Based {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    overflow: visible;
}
.Action-Based-left {
    width: 55%;
}
.Action-Based-img {
    width: 45%;
}
.Action-Based-img img {
    width: 100%;
    height: 100%;
}
.header-button.try-btn {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    width: 23%;
    opacity: 1;
    border-radius: 16px;
    height: 45px;
    overflow: hidden;
}
.header-button.try-btn a.anchor-hd {
    color: #fff;
    font-size: 21px;
}
.action-btn {
    display: flex;
    gap: 14px;
    justify-content: flex-start;
    margin: 25px 0px;
}
.action-btn-img img:hover {
    transform: scale(1.1);
}
.only-content h1 {
    font-size: 80px;
    line-height: 1em;
    margin-bottom: 86px;
}
.only-content h2 {
    font-size: 60px;
    line-height: 1.1em;
    margin-bottom: 100px;
}
